.pic{
   width: 1925px;
   height: 930px;
}
.text{
   margin-top:-290px; 
   color: white;
   margin-left: 100px;
}
.skip-button{
    margin-top: 100px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
  
}
 /* Circle container */
 .circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px; /* Width of the circle */
    height: 80px; /* Height of the circle */
    background-color:transparent; /* Circle background color */
    border-radius: 50%; /* Make it circular */
    position: relative; /* To position the icon inside it */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, transform 0.3s;
    margin-top: -90px;
    margin-left: 1800px;
}

/* Hover effect */
.circle-container:hover {
    background-color: #79767663; /* Darker shade on hover */
    transform: scale(1.1); /* Slightly enlarge the circle on hover */
}

/* Circle arrow icon styling */
.circle-container i {
    color: white; /* Icon color */
    font-size: 40px; /* Icon size */
}


